@model RSML_web_app.Models.ConfirmedDevicesInStore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConfirmedDevicesInStore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspiciousActivities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspiciousActivities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZoneHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZoneHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSeenDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSeenDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSeenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSeenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
